<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>

    <link href="./stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <section>
      <h1>Welcome to Users Module</h1>

      <div class="start_content">
        <h4>Existing users</h4>

        <a href="/login" class="btn-secondary mt1">Login</a>
      </div>

      <div class="start_content">
        <h4>New users</h4>

        <a href="/register" class="btn-secondary mt1">Register</a>
      </div>

      <div class="start_content fw-bold margin_top-logout">
        You have been logged out
      </div>
    </section>
    
    <h1 class="message-mobile">
      This page only works on large screen (768px or more)
    </h1>
  </body>
</html>

<!-- Passed by Justin Gandecila-->

